<div>
  <button mat-button mat-icon-button [matMenuTriggerFor]="userNavigation">
    <img
      *ngIf="sessionQuery.signedIn | async; else signedOutButton"
      mat-card-avatar
      [src]="sessionQuery.avatar | async"
    />
  </button>
  <mat-card class="hidden-card"></mat-card>
  <ng-template #signedOutButton>
    <mat-icon>perm_identity</mat-icon>
  </ng-template>
  <mat-menu #userNavigation="matMenu">
    <mat-list>
      <div *ngIf="sessionQuery.signedIn | async; else signedOutMenu">
        <mat-list-item>
          <img matListAvatar [src]="sessionQuery.avatar | async" />
          <h3 matLine>{{ sessionQuery.name | async }}</h3>
          <p matLine>
            <span> {{ sessionQuery.email | async }} </span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>{{ 'user.profile' | translate }}</span>
        </button>
        <button mat-menu-item (click)="signOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>{{ 'user.sign_out' | translate }}</span>
        </button>
      </div>
      <ng-template #signedOutMenu>
        <button mat-menu-item (click)="signIn()">
          <mat-icon>input</mat-icon>
          <span>{{ 'user.sign_in' | translate }}</span>
        </button>
      </ng-template>
    </mat-list>
  </mat-menu>
</div>
