<mat-toolbar color="primary">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{ 'Laurelin' }} 🌳</h1>
  <span class="layout-spacer"></span>
  <lin-user-widget></lin-user-widget>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #snav
    [mode]="(isMobile | async) ? 'over' : 'side'"
    [fixedInViewport]="isMobile | async"
    autosize
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/blog">Blog</a>
      <a mat-list-item>Admin</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
